{% extends 'club/layout/main.html' %}
{% load static %}
{% block title %}
  About
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid ">
        <div class="head">
       <h1 class="about_head"> About The College </h1>
        </div>
        <hr class="aboutline">

        <div class="content">
         <p>
            As per the (G.O. No. 36 Dated 28-02-2019) Government of Tamil Nadu was announced the 14 university constituent colleges were converted into the Government Arts and Science Colleges from the academic year 2019-20 onwards.  Out of the 14 colleges this College was converted as Government Arts and Science College, Pennagaram.<br><br>

            In and around the Taluk of Pennagaram and Palacode doesn’t have Arts & Science College in 2010. That is why, after the school studies most of the students don’t move to the college level education due to the distance and ignorance of the parent, poverty, safety and lack of availability of the Transport. So that, most of the students are getting marriage instead of getting college education.<br><br>
            
            In this view, to fulfill the people needs in Higher Education, Periyar University Constituent College of Arts & Science(Co-Education), Pennagaram is started in 2010 at Government Higher Secondary School, Paparapatty(Pennagaram Taluk) with three UG courses((B.A(Tamil), B.Com and B.Sc(Computer Science)). After that, separate building has been constructed with full fledged infrastructure at Mamarathupallam(Thithiyopanahalley) and it was opened by Honable former Chief Minister Ms.J. JAYALALITHA on 23/09/2014 through video conference.<br><br>
            
              The College is located at Mamarathupallam, Bedrahalley(Post), Indoor(Via), Pennagaram(TK), Dharmapuri(Dt), Tamilnadu  PIN 636 803. Rightly speaking, it is connecting the students of both the Taluk of Pennagaram and Palacode.

         </p>
        </div>
    </div>


</div>
{% endblock content %}    